opencv-python==4.5.4.60 
Pillow==8.4.0
pyfakewebcam==0.1.0
tensorflow==2.6.2; python_version < "3.7"
tensorflow==2.7.0; python_version >= "3.7"
tensorflow-estimator==2.6.0; python_version < "3.7"
tensorflow-estimator==2.7.0; python_version >= "3.7"
tfjs-graph-converter==1.4.2
requests>=2.26.0
